h1 {
    color: blueviolet;
    text-align: center;
}
h2 {
    color: darkgray;
}
h3 {
    color: darkgray;
}
body {
    background-color: cornsilk;
    padding: 0 10% 0 10%;
}
.textBox {
    display: grid;
    grid-auto-columns: 350px;
}